/*css file*/

li {
    margin: 15px 0 10px 0;
}

ul {
    padding-left: 20px;
}

.RemoveButton { /*Factorials*/
    float: right;
    margin-right: 48%;
}

.ConversionRemoveButton { /*TempConvert*/
    float: right;
    margin-left: 15px;
}

.anotherError {
    background-color: yellow;
}

.isError {
    background-color: normal;
}

.cToF {
    float: left;
    margin-left: 30px;
}

.fToC {
    float: right;
    margin-right: 30px;
}

#ErrorMessenger {
    text-align: center;
}

#masterDiv {
    margin: auto;
    width: 8.5in;
}