/*css file*/

li {
    margin: 15px 0 10px 0;
}

.RemoveButton {
    float: right;
    margin-right: 25%;
}

.anotherError {
    background-color: yellow;
}

.isError {
    background-color: normal;
}

#Celsius_to_fahrenheit {
    float: left;
    margin-left: 5%;
}

#Fahrenheit_to_celsius {
    float: right;
    margin-right: 10%;
}

#fToCBox {
    float: right;
    margin-right: 10%;
}

#cToFBox {
    float: left;
    margin-left: 5%;
}